.App {
  background-color: rebeccapurple;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.left {
  width: 50%;
  background-color: rgb(128, 194, 211);
}

.right {
  width: 50%;
  background-color: tan;
}